# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.env
*.log

# Virtual environment
.venv/
venv/

# VSCode
.vscode/

# Node / React
node_modules/
dist/
build/
git remote add origin https://github.com/Tahakcy/fullstack-todoapp.git